:host {
  display: block;
}

.drawer-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 24px;
}

::ng-deep .filter-drawer .p-inputnumber {
  width: 100%;
}

::ng-deep .filter-drawer .p-inputnumber input {
  width: 100%;
}
